@charset "utf-8";


.price {
    font-family: 'Nanum Gothic', sans-serif;
}

.kor {
    color: #5c1905;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.6px;
}

.eng {
    color: #444;
    font-size: 14px;
    font-weight: bold;
}


h3 {
    color: #5c1905;
    font-size: 26px;
    font-family: 'Noto Sans', sans-serif;
}

/*////////////#main-bg///////////////////////////////////*/
#main-bg {
    margin-top: 168px;
    width: 100%;
    height: 210px;
    position: relative;
    background: url(../image/menu/e_fried_beverage/fried-bg.jpg) no-repeat top/cover;
}

#main-bg>.color {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.6;
    text-indent: -99999999999px;
}

#main-bg>.txt {
    width: 260px;
    height: 90px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    background: url(../image/common/ruler_b.png) no-repeat;
    background-position: bottom center;
    background-size: 92%;
    text-indent: 8px;
}

/*////////////#category///////////////////////////////////*/
#category {
    width: 100%;
    height: 60px;
    background-color: #eee;
    background: url(../image/common/category_ptn.png);
    margin-bottom: 20px;
}

#category .a-wrap {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#category a {
    width: 16.66%;
    float: left;
    text-align: center;
    line-height: 60px;
    color: #333;
    border-right: 0.5px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

#category a.steak {
    border-left: 0.5px solid rgba(0, 0, 0, 0.3);
}

#category a:hover {
    font-weight: bold;
}

#category a.fried {
    background-color: #5c1905;
    color: #fff;
}

/*////////////#sub-category///////////////////////////////////*/
#sub-cate-wrap {
    width: 100%;
    max-width: 1200px;
    height: 20px;
    margin: 0 auto;
    position: relative;
}

#sub-category {
    position: absolute;
    right: 0;
    top: 0;
}

#sub-category li {
    float: left;
    font-size: 14px;
    color: #999;
    margin-right: 2px;
    line-height: 16px;
}

#sub-category li:last-child {
    margin-right: 0;
}

#sub-category li.home {
    background: url(../image/common/btn_home.png) no-repeat;
    background-position: center center;
    width: 12px;
    text-indent: -99999999999px;
}

#sub-category li.arrow {
    background: url(../image/common/arrow.png) no-repeat;
    background-position: center center;
    width: 12px;
    text-indent: -99999999999px;
}

/*////////////#fried///////////////////////////////////*/
article {
    width: 100%;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#fried {
    margin-top: 100px;
    margin-bottom: 80px;
}

.fried-title {
    width: 100%;
    height: 60px;
    position: relative;
}

.fried-title .title-icon {
    float: left;
    margin-right: 4px;
}

.fried-title h3 {
    float: left;
    background: url(../image/menu/e_fried_beverage/fried_line.png) no-repeat;
    background-position: bottom center;
    width: 80px;
    height: 46px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4px;
    margin-right: 16px;
}

.fried-title .p-wrap {
    float: left;
    margin-top: 12px;
    color: #5c1905;
    font-size: 16px;
    font-weight: bold;
}

#fried .thums {
    float: left;
    width: 26%;
}

#fried ul.txt-wrap {
    float: left;
    width: 56%;
    position: relative;
}

#fried ul.txt-wrap li.price {
    position: absolute;
    right: 0;
}

/*////////////#menu///////////////////////////////////*/
.menu {
    width: 100%;
    margin-top: 80px;
}

.menu>li.menu-box {
    float: left;
    width: 50%;
    height: 160px;
    margin-bottom: 60px;
}

.menu-box>div.thums {
    float: left;
    margin-right: 5%;
}

.menu-box>div.thums img {
    width: 100%;
}

.menu-box>ul.txt-wrap {
    float: left;
    width: 52%;
}

/***** .title *******/
.title {
    letter-spacing: -0.6px;
}

/***** line *******/
.line-bold {
    width: 100%;
    height: 3px;
    background-color: #5c1905;
    border-radius: 10px;
    text-indent: -999999px;
    margin: 10px 0;
}

.line-light {
    width: 100%;
    height: 2px;
    background-color: #5c1905;
    border-radius: 10px;
    text-indent: -999999px;
    margin: 10px 0;
}

ul.txt-wrap p.kor {
    margin-bottom: 4px;
}

/***** li.info *******/
li.info {
    color: #444;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.4px;
    line-height: 24px;
}

/***** li.price *******/
li.price {
    color: #5c1905;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.6px;
    text-shadow: 0 0 1px #5c1905;
}

/***** li.drinks *******/
li.drinks {
    margin-top: 10px;
}

/*////////////#drink///////////////////////////////////*/
#drink {
    margin-bottom: 80px;
}

.drink-title {
    width: 100%;
    height: 60px;
    position: relative;
}

.drink-title .title-icon {
    float: left;
    margin-right: 4px;
}

.drink-title h3 {
    float: left;
    background: url(../image/menu/e_fried_beverage/drink_line.png) no-repeat;
    background-position: bottom center;
    width: 150px;
    height: 52px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 20px;
}

.drink-title .p-wrap {
    float: left;
    margin-top: 16px;
    color: #5c1905;
    font-size: 16px;
    font-weight: bold;
}

#drink .price {
    margin-top: 10px;
}

#drink .info {
    margin-top: -10px;
}

#drink li.menu-box:last-child {
    margin-top: 60px;
}

/*////////////#beer///////////////////////////////////*/
#beer {
    margin-bottom: 100px;
}

.beer-title {
    width: 100%;
    height: 60px;
    position: relative;
}

.beer-title .title-icon {
    float: left;
    margin-right: 4px;
}

.beer-title h3 {
    float: left;
    background: url(../image/menu/e_fried_beverage/beer_line.png) no-repeat;
    background-position: bottom center;
    width: 80px;
    height: 52px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
    margin-right: 24px;
}

.beer-title .p-wrap {
    float: left;
    margin-top: 20px;
    color: #5c1905;
    font-size: 16px;
    font-weight: bold;
}




@media all and (max-width:500px) {
    #main-bg {
        margin-top: 60px;
        width: 100%;
        height: 210px;
    }


    #main-bg>.txt {
        width: 180px;
        height: 62px;
        font-size: 20px;
        background: url(../image/common/ruler_b.png) no-repeat;
        background-position: bottom center;
        background-size: 90%;
        letter-spacing: 2px;
    }

    /*////////////#category///////////////////////////////////*/
    #category {
        width: 100%;
        height: 180px;
        background-color: #eee;
        background: url(../image/common/category_ptn.png);
        margin-bottom: 20px;
    }

    #category .a-wrap {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        position: relative;
        left: 0;
        margin-left: 0;
        transform: translate(0);
    }

    #category .a-wrap a {
        width: 50%;
        height: 33.33%;
        font-size: 14px;
        padding: 0 10px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        display: block;
    }


    /*////////////#sub-category///////////////////////////////////*/
    #sub-cate-wrap {
        width: 100%;
        max-width: 1200px;
        height: 20px;
        position: relative;
        left: 0;
        margin-left: 0;
    }


    #sub-category li {
        font-size: 12px;
    }



    /*////////////#menu-wrap///////////////////////////////////*/
    .all-wrap {
        width: 90%;
        max-width: 1000px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
        margin-top: 100px;
        margin-bottom: 150px;

        /* outline: 3px solid; */
    }


    #pasta .pasta-title h3 {
        color: #5c1905;
        text-transform: uppercase;
        width: 80px;
        height: 44px;
        float: left;
        background-position: center 85%;
        background-size: 90%;
        margin-left: 4px;
        font-size: 20px;
        text-align: center;
        letter-spacing: -0.4px;
        margin-bottom: 0px;
        margin-top: 20px;
    }


    .fried-title h3 {
        background-position: bottom center;
        background-size: 100%;
        width: 80px;
        height: 46px;
        text-transform: uppercase;
        margin-top: 0px;
        margin-right: 16px;
        font-size: 20px;
        margin-left: 10px;

        /*outline: 3px solid;*/
    }


    .drink-title h3 {
        background-position: bottom center;
        background-size: 90%;
        width: 140px;
        height: 46px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-top: 6px;
        text-indent: -6px;
        font-size: 20px;

        /*outline: 3px solid;*/
    }

    .beer-title h3 {
        float: left;
        background: url(../image/menu/e_fried_beverage/beer_line.png) no-repeat;
        background-position: bottom center;
        width: 80px;
        height: 46px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-top: 12px;
        margin-left: 6px;
        text-indent: -6px;
        font-size: 20px;

        /*outline: 3px solid;*/
    }


    .all-wrap .p-wrap {
        font-size: 13px;
        color: #5c1905;
        font-weight: bold;
        display: inline-block;
        margin: 0;
        line-height: 20px;
        letter-spacing: -0.6px;
        width: 100%;
        text-align: left;
        margin-top: 14px;

        /*outline: 3px solid;*/
    }


    /*////////////menu-box//////////////*/

    .menu li.menu-box {
        float: left;
        width: 100%;
        height: auto;
        margin-top: 60px;
    }



    .menu-box>div.thums {
        float: left;
        margin-right: 8%;
    }

    .menu-box>div.thums img {
        width: 100%;
    }

    .menu-box>ul.txt-wrap {
        width: 63%;
    }


    .all-wrap .info {
        color: #444;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 22px;
    }



    .all-wrap .price {
        color: #5c1905;
        font-weight: bold;
        text-shadow: 0 0 1px #5c1905;
        letter-spacing: 0.6px;
        font-size: 14px;
        margin: 0 2px;
    }

}