@charset "utf-8";

/*////////////#main-bg///////////////////////////////////*/
#main-bg {
    margin-top: 168px;
    width: 100%;
    height: 210px;
    position: relative;
    background: url(../image/store/store-bg.jpg) no-repeat top/cover;
}

#main-bg>.color {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.6;
    text-indent: -99999999999px;
}

#main-bg>.txt {
    width: 260px;
    height: 90px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    background: url(../image/common/ruler_b.png) no-repeat;
    background-position: bottom center;
    background-size: 96%;
}

.btnL {
    display: none;
}

.btnR {
    display: none;
}

/*////////////#category///////////////////////////////////*/
#category {
    width: 100%;
    height: 60px;
    background-color: #eee;
    background: url(../image/common/category_ptn.png);
    margin-bottom: 20px;
}

#category .a-wrap {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#category a {
    width: 200px;
    float: left;
    text-align: center;
    line-height: 60px;
    color: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#category a#store {
    background-color: #5c1905;
    color: #fff;
}

#category a:hover {
    font-weight: bold;
}


/*////////////#sub-category///////////////////////////////////*/
#sub-cate-wrap {
    width: 100%;
    max-width: 1200px;
    height: 20px;
    margin: 0 auto;
    position: relative;
}

#sub-category {
    position: absolute;
    right: 0;
    top: 0;
}

#sub-category li {
    float: left;
    font-size: 14px;
    color: #999;
    margin-right: 2px;
    line-height: 16px;
}

#sub-category li:last-child {
    margin-right: 0;
}

#sub-category li.home {
    background: url(../image/common/btn_home.png) no-repeat;
    background-position: center center;
    width: 12px;
    text-indent: -99999999999px;
}

#sub-category li.arrow {
    background: url(../image/common/arrow.png) no-repeat;
    background-position: center center;
    width: 12px;
    text-indent: -99999999999px;
}

/*////////////#store-box-wrap///////////////////////////////////*/
#store-box-wrap {
    width: 90%;
    max-width: 1100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 60px 0 80px;
}

#store-box-wrap h3#title {
    text-align: center;
    margin-bottom: 60px;
    background: url(../image/store/title_h3.png) no-repeat;
    background-position: bottom center;
    width: 170px;
    height: 110px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    letter-spacing: 10px;
    color: #333;
}

.store-box {
    width: 100%;
    height: 510px;
    float: left;
    position: relative;
    margin-bottom: 50px;
}

/*////////////bigImg////////////*/
.store-box .bigImg {
    width: 60%;
    max-width: 680px;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

/*************************** bigImg-wrap ***************************/
.bigImg ul.bigImg-wrap {
    width: 600%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.bigImg ul.bigImg-wrap li {
    width: 16.67%;
    height: 100%;
    float: left;
}

.bigImg ul.bigImg-wrap li img {
    width: 100%;
    height: 100%;
    float: left;
}

/*////////////info-wrap////////////*/
.store-box .info-wrap {
    width: 38%;
    max-width: 400px;
    height: 50%;
    float: right;
    margin-top: 26px;
}

.info-wrap h3.title {
    color: #333;
    font-size: 24px;
    margin-bottom: 16px;
}

.info-wrap span.bold-line {
    background-color: #5c1905;
    width: 16%;
    height: 5px;
    border-radius: 20px;
    display: block;
    margin-bottom: 46px;
    text-indent: -9999999px;
}

.info-wrap p.address {
    color: #333;
    text-shadow: 0 0 1px #333;
    font-size: 15px;
    margin-bottom: 16px;
}

.info-wrap span.line {
    display: block;
    width: 100%;
    height: 5px;
    background: url(../image/store/store_line.png) no-repeat;
    text-indent: -9999999px;
    margin-bottom: 16px;
}

.info-wrap ul.info {
    margin-bottom: 6px;
    width: 100%;
}

.info-wrap ul.info:after {
    content: "";
    display: block;
    clear: both;
}

.info-wrap ul.info li {
    width: 45%;
    float: left;
    font-size: 15px;
    letter-spacing: -0.6px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.info-wrap ul.info li span.info01 {
    color: #fff;
    background-color: #5c1905;
    padding: 3px 10px;
    display: inline-block;
}

.info-wrap ul.info li span.info02 {
    color: #333;
    padding-left: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
}

/*////////////thums////////////*/
.store-box .thums {
    width: 38%;
    max-width: 400px;
    height: 196px;
    float: right;
    margin-top: 35px;
}

.store-box .thums>li {
    width: 32%;
    max-width: 124px;
    height: 93px;
    float: left;
    margin-right: 1%;
    margin-top: 1%;
}

.store-box .thums>li>a {
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
}

.store-box .thums>li>a>img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all .4s;
}

.thums>li>a:hover img {
    opacity: 1;
}

.active {
    opacity: 1 !important;
}




@media all and (max-width:500px) {
    #main-bg {
        margin-top: 60px;
        width: 100%;
        height: 210px;
    }


    #main-bg>.txt {
        width: 180px;
        height: 62px;
        font-size: 20px;
        background: url(../image/common/ruler_b.png) no-repeat;
        background-position: bottom center;
        background-size: 94%;
    }

    /*////////////#category///////////////////////////////////*/
    #category {
        width: 100%;
        height: 60px;
        background-color: #eee;
        background: url(../image/common/category_ptn.png);
        margin-bottom: 20px;
    }

    #category .a-wrap {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        position: relative;
        left: 0;
        margin-left: 0;
        transform: none;
        transform: 0;
        box-sizing: border-box;
        border: 0;
    }

    #category .a-wrap {
        font-size: 14px;
    }


    /*////////////#sub-category///////////////////////////////////*/
    #sub-cate-wrap {
        width: 100%;
        max-width: 1200px;
        height: 20px;
        position: relative;
        left: 0;
        margin-left: 0;
    }


    #sub-category li {
        font-size: 12px;
    }


    /*////////////#title///////////////////////////////////*/

    #store-box-wrap h3#title {
        text-align: center;
        margin-bottom: 80px;
        background: url(../image/store/title_h3.png) no-repeat;
        background-position: bottom center;
        background-size: 100%;
        width: 130px;
        height: 82px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        letter-spacing: 10px;
        color: #333;
    }

    .store-box {
        width: 100%;
        height: auto;
        float: left;
        position: relative;
        margin: 0;

        /*outline: 3px solid lime;*/
    }

    .store-box~.store-box {
        margin-top: 100px;
    }

    /*////////////bigImg////////////*/
    .store-box .bigImg {
        width: 100%;
        height: 300px;
        float: left;
        overflow: hidden;
        position: relative;
        margin: 0;
    }


    /*************************** bigImg-wrap ***************************/

    .bigImg ul.bigImg-wrap li {
        width: 16.67%;
        height: 100%;
        float: left;

    }

    .bigImg ul.bigImg-wrap li img {
        width: 100%;
        height: 100%;
        float: left;
        display: block;
    }

    /*////////////info-wrap////////////*/
    .store-box .info-wrap {
        width: 100%;
        height: auto;
        float: left;
        margin-top: 20px;
        position: static;

        /*outline: 2px solid red;*/
    }

    .info-wrap h3.title {
        color: #333;
        font-size: 18px;
        margin-bottom: 8px;
    }

    .info-wrap span.bold-line {
        background-color: #5c1905;
        width: 15%;
        height: 4px;
        border-radius: 20px;
        display: block;
        margin-bottom: 20px;
        text-indent: -9999999px;
    }

    .info-wrap p.address {
        color: #333;
        text-shadow: 0 0 1px #333;
        font-size: 14px;
        margin-bottom: 16px;
    }

    .info-wrap ul.info li {
        width: 49%;
        float: left;
        font-size: 14px;
        letter-spacing: -0.6px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .info-wrap ul.info li span.info01 {
        padding: 3px 6px;
    }


    .info-wrap ul.info li span.info02 {
        color: #333;
        padding-left: 4px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 13px;
    }

    /*////////////thums////////////*/
    .store-box .thums {
        width: 100%;
        height: auto;
        float: left;
        position: static;
        background-color: #fff;
        margin-top: 6px;
    }

    .store-box .thums>li {
        width: 33.33%;
        height: auto;
        float: left;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
    }

    .store-box .thums>li>a {
        width: 100%;
        height: auto;
        display: block;
        background-color: black;
    }

    .store-box .thums>li>a>img {
        width: 100%;
        height: auto;
        opacity: 0.5;
        transition: all .4s;
    }

    .thums>li>a:hover img {
        opacity: 0.5;
    }




}